@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#050505] text-foreground antialiased selection:bg-white/20;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}